* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #1F1F1F;
}

body {
    background-color: #F4F4F4;
    color: white;
    font: 20px/1.5 Cambria, Georgia, serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    width: 90%;
}

header {
    background-color: #7E9B55;
    margin-bottom: 1rem;
    padding: 1rem;
}

nav.principale {
    background-color: #D4A033;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav.principale ul li {
    display: inline;
    margin-right: 1rem;
}

a {
    color: white;
}

section.principale {
    background-color: #CCCC70;
    box-sizing: border-box;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1%;
    padding: 1rem;
    width: 75%;
}

article {
    background-color: #4E6A99;
    border: 1px white solid;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 1rem;
}

aside {
    background-color: #3F3E3E;
    box-sizing: border-box;
    float: right;
    padding: 1rem;
    width: 24%;
}

aside nav {
    margin-bottom: 1rem;
}

footer {
    background-color: #655B76;
    clear: both;
    padding: 1rem;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
