*{
	margin: 0;
	padding: 0;
}
html{
	background-color: #1F1F1F;
}
body{
	font: 20px/1.5 Cambria, Georgia, serif;
	background-color: #F4F4F4;
	color: white;
	width: 90%;
	max-width: 1200px;
	padding: 1rem;
	margin: 0 auto;
}
header{
	background-color: #7E9B55;
	padding: 1rem;
	margin-bottom: 1rem;
}
nav.principale{
	background-color: #D4A033;
	padding: 1rem;
}
nav ul{
	list-style-type: none;
}
nav.principale ul li{
	display: inline;
	margin-right: 1rem;
}
a{
	color:white;
}
section.principale{
	box-sizing: border-box;
	background-color: #CCCC70;
	padding: 1rem;
	float: left;
	width: 75%;
	margin-right: 1%;
	margin-bottom: 1rem;
}
article{
	box-sizing: border-box;
	background-color: #4E6A99;
	padding: 1rem;
	border: 1px white solid;
	margin-bottom : 1rem;
}
aside{
	box-sizing: border-box;
	background-color: #3F3E3E;
	padding: 1rem;
	float: right;
	width: 24%;
}
aside nav{
	margin-bottom: 1rem;
}
footer{
	clear: both;
	background-color: #655B76;
	padding: 1rem;
}